<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lcxjj.mapper.SystemSetupMapper" >
  <resultMap id="BaseResultMap" type="cn.lcxjj.pojo.SystemSetup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="system_name" property="systemName" jdbcType="VARCHAR" />
    <result column="write_article_mark" property="writeArticleMark" jdbcType="INTEGER" />
    <result column="write_comment_mark" property="writeCommentMark" jdbcType="INTEGER" />
    <result column="receive_comment_mark" property="receiveCommentMark" jdbcType="INTEGER" />
    <result column="daily" property="daily" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,system_name, write_article_mark, write_comment_mark, receive_comment_mark, daily
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_setup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_setup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.lcxjj.pojo.SystemSetup" >
    insert into system_setup (id, system_name,write_article_mark, write_comment_mark, 
      receive_comment_mark, daily)
    values (#{id,jdbcType=INTEGER},#{systemName,jdbcType=VARCHAR}, #{writeArticleMark,jdbcType=INTEGER}, #{writeCommentMark,jdbcType=INTEGER}, 
      #{receiveCommentMark,jdbcType=INTEGER}, #{daily,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.lcxjj.pojo.SystemSetup" >
    insert into system_setup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systemName != null" >
        system_name,
      </if>
      <if test="writeCommentMark != null" >
        write_comment_mark,
      </if>
      <if test="receiveCommentMark != null" >
        receive_comment_mark,
      </if>
      <if test="daily != null" >
        daily,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="systemName != null" >
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="writeCommentMark != null" >
        #{writeCommentMark,jdbcType=INTEGER},
      </if>
      <if test="receiveCommentMark != null" >
        #{receiveCommentMark,jdbcType=INTEGER},
      </if>
      <if test="daily != null" >
        #{daily,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lcxjj.pojo.SystemSetup" >
    update system_setup
    <set >
      <if test="systemName != null" >
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null" >
        write_article_mark = #{writeArticleMark,jdbcType=INTEGER},
      </if>
      <if test="writeCommentMark != null" >
        write_comment_mark = #{writeCommentMark,jdbcType=INTEGER},
      </if>
      <if test="receiveCommentMark != null" >
        receive_comment_mark = #{receiveCommentMark,jdbcType=INTEGER},
      </if>
      <if test="daily != null" >
        daily = #{daily,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lcxjj.pojo.SystemSetup" >
    update system_setup
    set system_name = #{systemName,jdbcType=VARCHAR}
   	  write_article_mark = #{writeArticleMark,jdbcType=INTEGER},
      write_comment_mark = #{writeCommentMark,jdbcType=INTEGER},
      receive_comment_mark = #{receiveCommentMark,jdbcType=INTEGER},
      daily = #{daily,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>